@import "vars"

.page-footer
  display: flex
  flex-direction: column
  background-color: #91aa59
  box-sizing: border-box

.page-footer__wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 38px 0 8px

.page-footer__social
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  margin-bottom: 37px

.page-footer__social-link
  display: block
  background-repeat: no-repeat
  background-size: cover
  &:first-child
    width: 20px
    height: 15px
    background-image: url("../img/vk-icon-white.svg")

  &:nth-child(2)
    width: 11px
    height: 15px
    margin: 0 14px
    background-image: url("../img/fb-icon-white.svg")

  &:last-child
    width: 13px
    height: 13px
    background-image: url("../img/instagram-icon-white.svg")

.page-footer__copyright
  margin: 0
  padding-right: 7px
  font-weight: 300
  font-size: 10px
  line-height: 19.94px
  letter-spacing: 0.1em
  color: #ffffff
  span
    font-size: 12px
    line-height: 24px

+respond-to(tablet)
  .page-footer__wrapper
    flex-direction: row
    justify-content: space-between
    padding: 13px 20px 9px

  .logo--footer
    margin-top: 3px
    margin-right: 81px

  .page-footer__social
    margin-bottom: 0

  .page-footer__copyright
    order: -1
    font-size: 12.5px
    span
      margin-left: 4px
      font-size: 14px

+respond-to(desktop)
  .page-footer__wrapper
    padding: 27px 100px 30px

  .page-footer__copyright
    font-size: 14px
    letter-spacing: 0.11em
    line-height: 22.03px
    span
      font-size: 15.25px
      line-height: 24px

  .logo--footer
    img[class="logo__link"]
      display: none

    .logo__img--desktop
      margin-right: 0

  .page-footer__social-link
    width: 25px
    height: 20px
    &:nth-child(2)
      margin: 0 25px
