@import "vars"

.schedule
  display: flex
  flex-direction: column
  box-sizing: border-box

.schedule__wrapper
  position: relative
  display: flex
  flex-direction: column
  padding: 15px 15px 28px
  overflow: hidden
  box-sizing: border-box

.schedule__title
  position: relative
  display: flex
  padding-left: 26px
  margin-top: 0
  margin-bottom: 30px
  font-family: $font-two
  font-weight: 500
  font-size: 18px
  letter-spacing: -0.4px
  line-height: 14px
  color: #000000
  &::before
    +pseudo
    top: 7px
    width: 17px
    height: 1px
    background-color: #000000

.schedule__content
  display: flex
  flex-direction: column
  align-items: center

.schedule__content-item
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 244px
  padding: 85px 24px 41px 47px
  margin-bottom: 20px
  border-radius: 4px
  box-sizing: border-box
  &::before
    +pseudo
    top: -9px
    left: 7px
    width: 100%
    justify-content: center
    font-family: $font-three
    font-weight: 800
    font-size: 115px
    +color-font($alpha: 0.1)

  &:first-child
    +color-bg($alpha: 0.5)
    &::before
      content: "01"

  dl
    padding-right: 21px

  &:nth-child(2)
    padding-left: 42px
    +color-bg($alpha: 0.7)
    &::before
      content: "02"
      top: -9px
      left: 13px

  &:last-child
    padding-left: 42px
    +color-bg($alpha: 0.9)
    &::before
      content: "03"
      top: -9px
      left: 13px

.schedule__content-item-head
  padding-right: 23px
  font-family: $font-two
  font-weight: 500
  color: #ffffff
  letter-spacing: 0.1em
  dt
    margin-bottom: 10px
    font-size: 12px
    line-height: 1.2
    text-transform: uppercase
    span
      display: block
      font-size: 18px

  dd
    margin: 0
    font-family: $font-one
    font-size: 16px
    font-weight: 700
    letter-spacing: -0.1px

.schedule__content-item-main
  align-self: flex-start
  margin-bottom: 17px
  font-weight: 500
  line-height: 23px
  color: #ffffff
  tr
    display: flex
    margin-bottom: 9px

  td
    font-weight: 500
    font-size: 16px
    letter-spacing: -0.6px
    line-height: 23px
    padding: 0

.schedule__content-item-btn
  position: relative
  display: block
  width: 130px
  padding: 0
  padding: 5px 0
  border: 2px solid #ffffff
  border-radius: 15px
  color: #ffffff
  background-color: $bgc
  cursor: pointer
  transform: translateX(-22px)
  transition: all 0.2s
  &:hover,
  &:focus
    opacity: 0.8

  &::after
    +pseudo
    top: 7px
    left: 113px
    width: 35px
    height: 12px
    background-image: url("../img/long-right-arrow.svg")
    background-repeat: no-repeat
    background-size: cover
    background-position: right center

@media (min-width: 540px)
  .schedule__content
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

  .schedule__content-item
    margin-right: 20px

+respond-to(tablet)
  .schedule__wrapper
    padding: 49px 62px 0

  .schedule__title
    padding-left: 53px
    margin-bottom: 44px
    font-size: 24.43px
    line-height: 30.52px
    letter-spacing: -0.2px
    +color-font(0, 0, 0, 0.87)
    &::before
      top: 15px
      width: 37px
      height: 2px

  .schedule__content-item
    width: 206px
    min-height: 371px
    padding: 85px 7px 20px 28px
    margin-right: 11px
    &:nth-child(2)
      padding-left: 25px

    &:last-child
      padding-left: 24px
      margin-right: 0

+respond-to(desktop)
  .schedule__wrapper
    padding: 192px 38px 0 96px

  .schedule__title
    padding-left: 59px
    margin-bottom: 73px
    font-size: 48px
    line-height: 30.03px
    letter-spacing: -0.2px
    +color-font(0, 0, 0, 0.87)
    &::before
      top: 15px
      left: 4px

  .schedule__content
    padding: 0 4px
    justify-content: flex-start

  .schedule__content-item
    width: 375px
    max-height: 591px
    padding: 172px 7px 95px 10px
    margin-right: 20px
    &::before
      top: 4px
      left: 31px
      font-size: 210px

    &:nth-child(2)
      padding-left: 8px
      margin-right: 19px
      &::before
        top: 3px
        left: 12px

    &:last-child
      padding-left: 10px
      &::before
        top: 3px
        left: 13px

  .schedule__content-item-head
    padding-left: 8px
    margin-bottom: 19px
    dt
      margin-bottom: 15px
      font-size: 14px
      letter-spacing: 1.4px
      span
        font-size: 28px
        letter-spacing: 2.8px

    dd
      font-size: 23.5px
      letter-spacing: 0.2px

  .schedule__content-item-main
    td
      font-size: 18px

  .schedule__content-item-main
    padding-left: 60px
    margin-bottom: 26px
    tr
      margin-bottom: 12px

    td
      letter-spacing: 0
      span
        margin-right: 12px

  .schedule__content-item-btn
    width: 237px
    padding: 15px 0
    margin-left: 40px
    font-size: 18.5px
    border-radius: 30px
    &::after
      top: 20px
      left: 200px
      width: 69px
      background-image: url("../img/arrow-right.png")
