//  Typography

$font-one: "SFUI", Arial, Helvetica, sans-serif
$font-two: "Roboto", Arial, Helvetica, sans-serif
$font-three: "ProximaNova", Arial, Helvetica, sans-serif
$font-four: "OpenSans", Arial, Helvetica, sans-serif


//  Identation and sizes

$margin: 0 auto


//colors

$bgc: transparent


//  Mixins

=pseudo($cnt: "", $pos: absolute, $top: 0, $left: 0, $disp: flex)
    content: $cnt
    position: $pos
    top: $top
    left: $left
    display: $disp
