//  Typography

$font-one: "SFUI", Arial, Helvetica, sans-serif
$font-two: "Roboto", Arial, Helvetica, sans-serif
$font-three: "ProximaNova", Arial, Helvetica, sans-serif
$font-four: "OpenSans", Arial, Helvetica, sans-serif


//  Identation and sizes

$margin: 0 auto


//  break-points

$sm: 764px
$lg: 1366px


// retina

$double-dpr: 1.5
$double-dpi: 144dpi
$double-dpx: 1.5dppx
$triple-dpr: 3
$triple-dpi: 288dpi
$triple-dpx: 3dppx


//  colors

$bgc: transparent


//  Mixins

=color-bg($r: 145, $g: 170, $b: 89, $alpha: 1)
  background-color: rgba($r, $g, $b, $alpha)

=color-font($r: 255, $g: 255, $b: 255, $alpha: 1)
  color: rgba($r, $g, $b, $alpha)

=pseudo($cnt: "", $pos: absolute, $top: 0, $left: 0, $disp: flex)
  content: $cnt
  position: $pos
  top: $top
  left: $left
  display: $disp

=respond-to($media)
  @if $media == 'tablet'
    @media (min-width: $sm)
      @content

  @else if $media == 'desktop'
    @media (min-width: $lg)
      @content

=pixel-ratio($media)
  @if $media == 'double'
    @media (min-device-pixel-ratio: $double-dpr), (min-resolution: $double-dpi), (min-resolution: $double-dpx)
      @content

  @else if $media == 'triple'
    @media (min-device-pixel-ratio: $triple-dpr), (min-resolution: $triple-dpi), (min-resolution: $triple-dpx)
      @content
